.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://www.thefamouspeople.com/profiles/images/mahinda-rajapaksa-2.jpg');
    background-size: cover;
  }
  
  * {
    box-sizing: border-box;
  }

  .menu {
    width: 24%;
    float: left;
    padding: 15px;
    border: 1px solid turquoise;
  }
  
  .main {
    width: 75%;
    float: left;
    padding: 15px;
    border: 1px solid red;
  }

  .size {
    width: 25%;
  }