.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://www.thefamouspeople.com/profiles/images/mahinda-rajapaksa-2.jpg');
    background-size: cover;
  }
  
  * {
    box-sizing: border-box;
  }

  .menu {
    width: 100%;
    /* float: left; */
    padding: 1px;
    border: 1px solid turquoise;
  }
  
  .main {
    width: 75%;
    float: left;
    padding: 15px;
    border: 1px solid red;
  }

  .size {
    width: 25%;
  }

  .videosize {
    width:100%;
  }

  .commentsize {
    width:100%;
  }

.search-bar { background-color: #222; }
.search-bar * { color: white !important; }
.search-bar input { border-bottom-color: white; }
.md-errors-spacer { display:none; }

.active-pink-2 input[type=search]:focus:not([readonly]) {
  border-bottom: 1px solid #f48fb1;
  box-shadow: 0 1px 0 0 #f48fb1;
}
.active-pink input[type=search] {
  border-bottom: 1px solid #f48fb1;
  box-shadow: 0 1px 0 0 #f48fb1;
}
.active-purple-2 input[type=search]:focus:not([readonly]) {
  border-bottom: 1px solid #ce93d8;
  box-shadow: 0 1px 0 0 #ce93d8;
}
.active-purple input[type=search] {
  border-bottom: 1px solid #ce93d8;
  box-shadow: 0 1px 0 0 #ce93d8;
}
.active-cyan-2 input[type=search]:focus:not([readonly]) {
  border-bottom: 1px solid #4dd0e1;
  border-top: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
}
.active-cyan input[type=search] {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
  border-top: 1px solid #4dd0e1;
}

.search-botton {
  background-color: rgb(114, 173, 197);
}

.likebutton {
  background-color: rgb(25, 177, 30);
  border: none;
  color: white;
  padding: 9px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.dislikebutton {
  background-color: #f31a0b;
  border: none;
  color: white;
  padding: 9px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.viewsbutton {
  background-color: rgb(32, 112, 204);
  border: none;
  color: white;
  padding: 9px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

angular-tag-cloud.custom-css {
  border: 8px solid black;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  padding: 10px;
  text-align: left;
  border-bottom: 2px solid #ddd;
}

tr:hover {background-color:#bd1313;}